html {
  height: 100%;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(90deg, #1CB5E0 0%, #000851 100%);
  height: 100%;
}

p {
  color: white;
  text-transform: uppercase;
  text-align: center;
  margin-top: 2rem;
  font-weight: bold;
}

td {
  color: white;
  text-align: center;
}

.centrar{
  color: white;
  text-align: center;
  display: block;
  margin-bottom: 1rem;
}
